dtd/module/sw09-inline.mod

<!-- ...................................................................... -->
<!-- SuikaWiki/0.9 Simple Documentation Format Vocabulary 2.9
             Inline Module ................................................ -->
<!-- file: sw09-inline.mod
     
     This is a markup vocabulary used in SuikaWiki/0.9 XML representation.
     
     Copyright 2010 Wakaba <w@suika.fam.cx>, All Rights Reserved.
     
     Permission to use, copy, modify and distribute this DTD and its
     accompanying documentation for any purpose and without fee is hereby
     granted in perpetuity, provided that the above copyright notice and
     this paragraph appear in all copies.  The copyright holders make no
     representation about the suitability of the DTD for any purpose.
     
     It is provided "as is" without expressed or implied warranty.
     
     Revision: 2010-06-20T05:34:54+00:00 (Generated by mkdtds/1.7)
     
     This DTD module is identified by the SYSTEM identifier:
     
       SYSTEM "**work-in-progress**sw09-inline.mod"
     
     ...................................................................... -->

<!-- Inline

       anchor, anchor-end, anchor-external, anchor-internal, rubyb, weak
-->

<!-- rubyb: Additional information as ruby. ............ -->

<!ENTITY % sw09.rubyb.element "INCLUDE">
<![%sw09.rubyb.element;[
<!ENTITY % sw09.rubyb.content "(%XHTML2.rb.qname;,%XHTML2.rt.qname;)">
<!ENTITY % sw09.rubyb.qname "rubyb">
<!ENTITY % sw09.rubyb.tagmin.start "-">
<!ENTITY % sw09.rubyb.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % sw09.rubyb.tagmin "%sw09.rubyb.tagmin.start; %sw09.rubyb.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % sw09.rubyb.tagmin "">
<!ELEMENT %sw09.rubyb.qname; %sw09.rubyb.tagmin; %sw09.rubyb.content;>
<!-- end of sw09.rubyb.element -->]]>

<!ENTITY % sw09.rubyb.attlist "INCLUDE">
<![%sw09.rubyb.attlist;[
<!ATTLIST %sw09.rubyb.qname;
	%sw09.reference.attrib;
	%sw09.common.attrib;>
<!-- end of sw09.rubyb.attlist -->]]>

<!-- weak: "Less important" phrase. .................... -->

<!ENTITY % sw09.weak.element "INCLUDE">
<![%sw09.weak.element;[
<!ENTITY % sw09.weak.content "(#PCDATA|%Inline.mix;)*">
<!ENTITY % sw09.weak.qname "weak">
<!ENTITY % sw09.weak.tagmin.start "-">
<!ENTITY % sw09.weak.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % sw09.weak.tagmin "%sw09.weak.tagmin.start; %sw09.weak.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % sw09.weak.tagmin "">
<!ELEMENT %sw09.weak.qname; %sw09.weak.tagmin; %sw09.weak.content;>
<!-- end of sw09.weak.element -->]]>

<!ENTITY % sw09.weak.attlist "INCLUDE">
<![%sw09.weak.attlist;[
<!ATTLIST %sw09.weak.qname;
	%sw09.reference.attrib;
	%sw09.common.attrib;>
<!-- end of sw09.weak.attlist -->]]>

<!-- anchor: Word grouping. ............................ -->

<!ENTITY % sw09.anchor.element "INCLUDE">
<![%sw09.anchor.element;[
<!ENTITY % sw09.anchor.content "(#PCDATA|%Inline.mix;)*">
<!ENTITY % sw09.anchor.qname "anchor">
<!ENTITY % sw09.anchor.tagmin.start "-">
<!ENTITY % sw09.anchor.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % sw09.anchor.tagmin "%sw09.anchor.tagmin.start; %sw09.anchor.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % sw09.anchor.tagmin "">
<!ELEMENT %sw09.anchor.qname; %sw09.anchor.tagmin; %sw09.anchor.content;>
<!-- end of sw09.anchor.element -->]]>

<!ENTITY % sw09.anchor.attlist "INCLUDE">
<![%sw09.anchor.attlist;[
<!ATTLIST %sw09.anchor.qname;
	%sw09.common.attrib;>
<!-- end of sw09.anchor.attlist -->]]>

<!-- anchor-end: Destination anchor. ................... -->

<!ENTITY % sw09.anchor-end.element "INCLUDE">
<![%sw09.anchor-end.element;[
<!ENTITY % sw09.anchor-end.content "(#PCDATA)*">
<!ENTITY % sw09.anchor-end.qname "anchor-end">
<!ENTITY % sw09.anchor-end.tagmin.start "-">
<!ENTITY % sw09.anchor-end.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % sw09.anchor-end.tagmin "%sw09.anchor-end.tagmin.start; %sw09.anchor-end.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % sw09.anchor-end.tagmin "">
<!ELEMENT %sw09.anchor-end.qname; %sw09.anchor-end.tagmin; %sw09.anchor-end.content;>
<!-- end of sw09.anchor-end.element -->]]>

<!ENTITY % sw09.anchor-end.attlist "INCLUDE">
<![%sw09.anchor-end.attlist;[
<!ATTLIST %sw09.anchor-end.qname;
	%sw09.anchor.attrib.qname;	%sw09.anchor-number.datatype;	#REQUIRED
	%sw09.common.attrib;>
<!-- end of sw09.anchor-end.attlist -->]]>

<!-- Reserved for possible future use -->
<!ENTITY % sw09.abbr.reference.attlist "INCLUDE">
<![%sw09.abbr.reference.attlist;[
<!ATTLIST %XHTML2.abbr.qname;
	%sw09.reference.attrib;>
<!-- end of sw09.abbr.reference.attlist -->]]>

<!-- Reserved for possible future use -->
<!ENTITY % sw09.code.reference.attlist "INCLUDE">
<![%sw09.code.reference.attlist;[
<!ATTLIST %XHTML2.code.qname;
	%sw09.reference.attrib;>
<!-- end of sw09.code.reference.attlist -->]]>

<!-- Description for editing (XHTML del/@cite). -->
<!ENTITY % sw09.del.reference.attlist "INCLUDE">
<![%sw09.del.reference.attlist;[
<!ATTLIST %XHTML1.del.qname;
	%sw09.reference.attrib;>
<!-- end of sw09.del.reference.attlist -->]]>

<!-- Reserved for possible future use -->
<!ENTITY % sw09.dfn.reference.attlist "INCLUDE">
<![%sw09.dfn.reference.attlist;[
<!ATTLIST %XHTML2.dfn.qname;
	%sw09.reference.attrib;>
<!-- end of sw09.dfn.reference.attlist -->]]>

<!-- Description for editing (XHTML ins/@cite). -->
<!ENTITY % sw09.ins.reference.attlist "INCLUDE">
<![%sw09.ins.reference.attlist;[
<!ATTLIST %XHTML1.ins.qname;
	%sw09.reference.attrib;>
<!-- end of sw09.ins.reference.attlist -->]]>

<!-- Reserved for possible future use -->
<!ENTITY % sw09.kbd.reference.attlist "INCLUDE">
<![%sw09.kbd.reference.attlist;[
<!ATTLIST %XHTML2.kbd.qname;
	%sw09.reference.attrib;>
<!-- end of sw09.kbd.reference.attlist -->]]>

<!-- Source of quotation. -->
<!ENTITY % sw09.q.reference.attlist "INCLUDE">
<![%sw09.q.reference.attlist;[
<!ATTLIST %XHTML1.q.qname;
	%sw09.reference.attrib;>
<!-- end of sw09.q.reference.attlist -->]]>

<!-- Reserved for possible future use -->
<!ENTITY % sw09.ruby.reference.attlist "INCLUDE">
<![%sw09.ruby.reference.attlist;[
<!ATTLIST %XHTML2.ruby.qname;
	%sw09.reference.attrib;>
<!-- end of sw09.ruby.reference.attlist -->]]>

<!-- Reserved for possible future use -->
<!ENTITY % sw09.samp.reference.attlist "INCLUDE">
<![%sw09.samp.reference.attlist;[
<!ATTLIST %XHTML2.samp.qname;
	%sw09.reference.attrib;>
<!-- end of sw09.samp.reference.attlist -->]]>

<!-- Reserved for possible future use -->
<!ENTITY % sw09.sup.reference.attlist "INCLUDE">
<![%sw09.sup.reference.attlist;[
<!ATTLIST %XHTML2.sup.qname;
	%sw09.reference.attrib;>
<!-- end of sw09.sup.reference.attlist -->]]>

<!-- Reserved for possible future use -->
<!ENTITY % sw09.sub.reference.attlist "INCLUDE">
<![%sw09.sub.reference.attlist;[
<!ATTLIST %XHTML2.sub.qname;
	%sw09.reference.attrib;>
<!-- end of sw09.sub.reference.attlist -->]]>

<!-- Reserved for possible future use -->
<!ENTITY % sw09.var.reference.attlist "INCLUDE">
<![%sw09.var.reference.attlist;[
<!ATTLIST %XHTML2.var.qname;
	%sw09.reference.attrib;>
<!-- end of sw09.var.reference.attlist -->]]>

<!-- anchor-external: External reference ............... -->

<!ENTITY % sw09.anchor-external.element "INCLUDE">
<![%sw09.anchor-external.element;[
<!ENTITY % sw09.anchor-external.content "(#PCDATA|%Inline.mix;)*">
<!ENTITY % sw09.anchor-external.qname "anchor-external">
<!ENTITY % sw09.anchor-external.tagmin.start "-">
<!ENTITY % sw09.anchor-external.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % sw09.anchor-external.tagmin "%sw09.anchor-external.tagmin.start; %sw09.anchor-external.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % sw09.anchor-external.tagmin "">
<!ELEMENT %sw09.anchor-external.qname; %sw09.anchor-external.tagmin; %sw09.anchor-external.content;>
<!-- end of sw09.anchor-external.element -->]]>

<!ENTITY % sw09.anchor-external.attlist "INCLUDE">
<![%sw09.anchor-external.attlist;[
<!ATTLIST %sw09.anchor-external.qname;
	%sw09.resScheme.attrib.qname;	%sw09.CDATA.datatype;	"URI"
	%sw09.resParameter.attrib.qname;	%sw09.CDATA.datatype;	#REQUIRED
	%sw09.common.attrib;>
<!-- end of sw09.anchor-external.attlist -->]]>

<!-- anchor-internal: Internal (same document) reference  -->

<!ENTITY % sw09.anchor-internal.element "INCLUDE">
<![%sw09.anchor-internal.element;[
<!ENTITY % sw09.anchor-internal.content "(#PCDATA|%Inline.mix;)*">
<!ENTITY % sw09.anchor-internal.qname "anchor-internal">
<!ENTITY % sw09.anchor-internal.tagmin.start "-">
<!ENTITY % sw09.anchor-internal.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % sw09.anchor-internal.tagmin "%sw09.anchor-internal.tagmin.start; %sw09.anchor-internal.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % sw09.anchor-internal.tagmin "">
<!ELEMENT %sw09.anchor-internal.qname; %sw09.anchor-internal.tagmin; %sw09.anchor-internal.content;>
<!-- end of sw09.anchor-internal.element -->]]>

<!ENTITY % sw09.anchor-internal.attlist "INCLUDE">
<![%sw09.anchor-internal.attlist;[
<!ATTLIST %sw09.anchor-internal.qname;
	%sw09.anchor.attrib.qname;	%sw09.anchor-number.datatype;	#REQUIRED
	%sw09.common.attrib;>
<!-- end of sw09.anchor-internal.attlist -->]]>


<!-- end of sw09-inline.mod -->
